<h3 class="ongoing">Ongoing events</h3>

<div class="events1">
        <h3 class="event1">Esl Kakka</h3>
</div>

<div class="events2">
        <h3 class="event2">Esl Kakka</h3>
</div>

<div class="events3">
        <h3 class="event3">Esl Kakka</h3>
</div>

<div class="events4">
        <h3 class="event4">Esl Kakka</h3>
</div>

<h3 class="upcoming">Upcoming events</h3>

<div class="upcoming1">
    <h3 class="eventx">Esl Kakka</h3>
</div>

<div class="upcoming2">
    <h3 class="teamx">8 Teams</h3>
</div>

<div class="upcoming3">
    <h3 class="eventy">Esl Kakka</h3>
</div>
    
<div class="upcoming4">
    <h3 class="teamy">14 Teams</h3>
</div>

<div class="upcoming5">
    <h3 class="eventz">Esl Kakka</h3>
</div>
        
<div class="upcoming6">
    <h3 class="teamz">10 Teams</h3>
</div>