<h3 class="galleri">Gallery</h3>

<div class="img1">
    <a href=""></a>
</div>

<div class="img2">
    <a href=""></a>
</div>

<div class="img3">
    <a href=""></a>
</div>

<div class="img4">
    <a href=""></a>
</div>