<h3 class="title1">News</h3>

<div class="news-content">
    <ul>
        <li><a href="">Artikel 1</a></li>
        <li><a href="">Artikel 2</a></li>
        <li><a href="">Artikel 3</a></li>
        <li><a href="">Artikel 4</a></li>
      </ul>
</div>

<h3 class="title2">Player of the week</h3>