<h3 class="title1">News</h3>

<div class="news-content">
    <ul>
        <li><a href="">Artikel 1</a></li>
        <li><a href="">Artikel 2</a></li>
        <li><a href="">Artikel 3</a></li>
        <li><a href="">Artikel 4</a></li>
        <li><a href="">Artikel 5</a></li>
        <li><a href="">Artikel 6</a></li>
        <li><a href="">Artikel 7</a></li>
      </ul>
</div>

<h3 class="title2">Player of the week</h3>

<h3 class="title3">Matches</h3>

<h3 class="title4">Rankings</h3>

<div class="matches-huvud">
    <h3>Team1 vs Team2</h3>
</div>

<div class="matches-huvud1">
    <h3>Team3 vs Team4</h3>
</div>

<div class="matches-huvud2">
    <h3>Team5 vs Team6</h3>
</div>

<div class="matches-huvud3">
    <h3>Team7  vs  Team8</h3>
</div>

<div class="rankings-huvud">
    <h3>1. Kakka eSports</h3>
</div>

<div class="rankings-huvud1">
    <h3>2. Kakka eSports</h3>
</div>

<div class="rankings-huvud2">
    <h3>3. Kakka eSports</h3>
</div>