<h3 class="featured_matches">Featured matches</h3>

<h3 class="recent_results">Recent results</h3>

<div class="eventinfo1">
    <h3 class="current_event1">Esl pankakka</h3>
</div>

<div class="team1_1">
    <h3 class="lag1_1">Kakka Esports</h3>
</div>

<div class="team2_1">
    <h3 class="lag2_1">Kakka Esports</h3>
</div>

<div class="standing1_1">
    <h3 class="score1_1">3</h3>
</div>

<div class="standing2_1">
    <h3 class="score2_1">1</h3>
</div>

<div class="time1_1">
    <h3 class="time1">17:00</h3>
</div>

<div class="lag1_upcoming_1">
    <h3 class="lag1_upcoming">Kakka Esports</h3>
</div>
    
<div class="vs1_1">
    <h3 class="vs1">vs</h3>
</div>
    
<div class="lag2_upcoming_1">
    <h3 class="lag2_upcoming">Kakka Esports</h3>
</div>

<div class="time2_1">
    <h3 class="time2">18:00</h3>
</div>
    
<div class="lag3_upcoming_1">
    <h3 class="lag3_upcoming">Kakka Esports</h3>
</div>
        
<div class="vs2_1">
    <h3 class="vs2">vs</h3>
</div>
        
<div class="lag4_upcoming_1">
    <h3 class="lag4_upcoming">Kakka Esports</h3>
</div>

<div class="time3_1">
    <h3 class="time3">19:00</h3>
</div>
        
<div class="lag5_upcoming_1">
    <h3 class="lag5_upcoming">Kakka Esports</h3>
</div>
            
<div class="vs3_1">
    <h3 class="vs1">vs</h3>
</div>
            
<div class="lag6_upcoming_1">
    <h3 class="lag6_upcoming">Kakka Esports</h3>
</div>
        