<h3 class="featured_matches">Featured matches</h3>

<h3 class="recent_results">Recent results</h3>

<div class="eventinfo1">
    <h3 class="current_event1">Esl pankakka</h3>
</div>

<div class="team1_1">
    <h3 class="lag1_1">Kakka eSports</h3>
</div>

<div class="team2_1">
    <h3 class="lag2_1">Kakka eSports</h3>
</div>

<div class="standing1_1">
    <h3 class="score1_1">3</h3>
</div>

<div class="standing2_1">
    <h3 class="score2_1">1</h3>
</div>

<div class="date1_1">
    <h3 class="date1">05/22</h3>
</div>

<div class="lag1_upcoming_1">
    <h3 class="lag1_upcoming">Kakka eSports</h3>
</div>
    
<div class="result1_1">
    <h3 class="result1">3</h3>
    <h3 class="result2">-</h3>
    <h3 class="result3">1</h3>
</div>
    
<div class="lag2_upcoming_1">
    <h3 class="lag2_upcoming">Kakka eSports</h3>
</div>

<div class="date2_1">
    <h3 class="date2">05/22</h3>
</div>
    
<div class="lag3_upcoming_1">
    <h3 class="lag3_upcoming">Kakka eSports</h3>
</div>
        
<div class="result2_1">
    <h3 class="result4">2</h3>
    <h3 class="result5">-</h3>
    <h3 class="result6">4</h3>
</div>
        
<div class="lag4_upcoming_1">
    <h3 class="lag4_upcoming">Kakka eSports</h3>
</div>

<div class="date3_1">
    <h3 class="date3">05/21</h3>
</div>
        
<div class="lag5_upcoming_1">
    <h3 class="lag5_upcoming">Kakka eSports</h3>
</div>
            
<div class="result3_1">
    <h3 class="result7">1</h3>
    <h3 class="result8">-</h3>
    <h3 class="result9">0</h3>
</div>
            
<div class="lag6_upcoming_1">
    <h3 class="lag6_upcoming">Kakka eSports</h3>
</div>
        