.featured_matches{
    grid-column: 2/5;
    grid-row: 2/3;
    margin: 0;
    padding-top: 50px;
}

.recent_results{
    grid-column: 2/5;
    grid-row: 6/7;
    margin: 0;
    padding-top: 50px;
}

.eventinfo1{
    grid-column: 2/6;
    grid-row: 3/4;
    background-color: white;
    border: 1px solid black;
}

.current_event1{
    grid-column: 2/5;
    grid-row: 3/4;
    text-align: center;
    margin: 0;
    padding-top: 22px;
}

.team1_1{
    grid-column: 2/4;
    grid-row: 4/5;
    background-color: white;
    border: 1px solid black;
}

.lag1_1{
    grid-column: 2/4;
    grid-row: 4/5;
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

.team2_1{
    grid-column: 2/4;
    grid-row: 5/6;
    background-color: white;
    border: 1px solid black;
}

.lag2_1{
    grid-column: 2/4;
    grid-row: 5/6;
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

.standing1_1{
    grid-column: 4/6;
    grid-row: 4/5;
    background-color: white;
    border: 1px solid black;
}

.score1_1{
    grid-column: 4/6;
    grid-row: 4/5;
    margin: 0;
    padding-top: 22px;
    text-align: center;
    color: green;
}

.standing2_1{
    grid-column: 4/6;
    grid-row: 5/6;
    background-color: white;
    border: 1px solid black;
}

.score2_1{
    grid-column: 4/6;
    grid-row: 5/6;
    margin: 0;
    padding-top: 22px;
    text-align: center;
    color: red;
}

.date1{
    margin: 0;
    grid-column: 2/3;
    grid-row: 7/8;
    font-size: 12px;
}

.lag1_upcoming{
    margin: 0;
    grid-column: 3/4;
    grid-row: 7/8;
    font-size: 12px;
}

.result1{
    margin: 0;
    grid-column: 4/5;
    grid-row: 7/8;
    font-size: 12px;
    text-align: left;
    color: green;
}

.result2{
    margin: 0;
    grid-column: 4/5;
    grid-row: 7/8;
    font-size: 12px;
    text-align: center;
}

.result3{
    margin: 0;
    grid-column: 4/5;
    grid-row: 7/8;
    font-size: 12px;
    text-align: right;
    color: red;
}

.lag2_upcoming{
    margin: 0;
    grid-column: 5/6;
    grid-row: 7/8;
    font-size: 12px;
}

.date1_1{
    margin: 0;
    grid-column: 2/3;
    grid-row: 7/8;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    padding-top: 22px;
    text-align: center;
}

.lag1_upcoming_1{
    margin: 0;
    grid-column: 3/4;
    grid-row: 7/8;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    padding-top: 22px;
    text-align: center;
}

.result1_1{
    margin: 0;
    grid-column: 4/5;
    grid-row: 7/8;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    display: flex;
    padding-top: 28px;
}

.lag2_upcoming_1{
    margin: 0;
    grid-column: 5/6;
    grid-row: 7/8;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    padding-top: 22px;
    text-align: center;
}

.date2{
    margin: 0;
    grid-column: 2/3;
    grid-row: 8/9;
    font-size: 12px;
}

.lag3_upcoming{
    margin: 0;
    grid-column: 3/4;
    grid-row: 8/9;
    font-size: 12px;
}

.result4{
    margin: 0;
    grid-column: 4/5;
    grid-row: 8/9;
    font-size: 12px;
    text-align: left;
    color: red;
}

.result5{
    margin: 0;
    grid-column: 4/5;
    grid-row: 8/9;
    font-size: 12px;
    text-align: center;
}

.result6{
    margin: 0;
    grid-column: 4/5;
    grid-row: 8/9;
    font-size: 12px;
    text-align: right;
    color: green;
}

.lag4_upcoming{
    margin: 0;
    grid-column: 5/6;
    grid-row: 8/9;
    font-size: 12px;
}

.date2_1{
    margin: 0;
    grid-column: 2/3;
    grid-row: 8/9;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    padding-top: 22px;
    text-align: center;
}

.lag3_upcoming_1{
    margin: 0;
    grid-column: 3/4;
    grid-row: 8/9;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    padding-top: 22px;
    text-align: center;
}

.result2_1{
    margin: 0;
    grid-column: 4/5;
    grid-row: 8/9;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    padding-top: 28px;
    text-align: center;
    display: flex;
}

.lag4_upcoming_1{
    margin: 0;
    grid-column: 5/6;
    grid-row: 8/9;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    padding-top: 22px;
    text-align: center;
}

.date3{
    margin: 0;
    grid-column: 2/3;
    grid-row: 9/10;
    font-size: 12px;
}

.lag5_upcoming{
    margin: 0;
    grid-column: 3/4;
    grid-row: 9/10;
    font-size: 12px;
}

.result7{
    margin: 0;
    grid-column: 4/5;
    grid-row: 9/10;
    font-size: 12px;
    text-align: left;
    color: green;
}

.result8{
    margin: 0;
    grid-column: 4/5;
    grid-row: 9/10;
    font-size: 12px;
    text-align: center;
}

.result9{
    margin: 0;
    grid-column: 4/5;
    grid-row: 9/10;
    font-size: 12px;
    text-align: right;
    color: red;
}

.lag6_upcoming{
    margin: 0;
    grid-column: 5/6;
    grid-row: 9/10;
    font-size: 12px;
}

.date3_1{
    margin: 0;
    grid-column: 2/3;
    grid-row: 9/10;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    padding-top: 22px;
    text-align: center;
}

.lag5_upcoming_1{
    margin: 0;
    grid-column: 3/4;
    grid-row: 9/10;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    padding-top: 22px;
    text-align: center;
}

.result3_1{
    margin: 0;
    grid-column: 4/5;
    grid-row: 9/10;
    background-color: white;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    padding-top: 28px;
    text-align: center;
    display: flex;
    
}

.lag6_upcoming_1{
    margin: 0;
    grid-column: 5/6;
    grid-row: 9/10;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    padding-top: 22px;
    text-align: center;
}

.result3_1 h3{
    padding-left: 10px;
}

.result2_1 h3{
    padding-left: 10px;
}

.result1_1 h3{
    padding-left: 10px;
}

@media only screen and (min-device-width: 600px){
    .lag1_upcoming_1{
        grid-column: 4/6;
        text-align: left;
        padding-left: 25px;
    }

    .lag2_upcoming_1{
        grid-column: 6/7;
    }

    .lag3_upcoming_1{
        grid-column: 4/6;
        text-align: left;
        padding-left: 25px;
    }

    .lag4_upcoming_1{
        grid-column: 6/7;
    }

    .lag5_upcoming_1{
        grid-column: 4/6;
        text-align: left;
        padding-left: 25px;
    }

    .lag6_upcoming_1{
        grid-column: 6/7;
    }

    .featured_matches{
        grid-column: 3/5;
        padding-top: 75px;
    }

    .eventinfo1{
        grid-column: 3/7;
    }

    .team1_1{
        grid-column: 3/6;
    }

    .team2_1{
        grid-column: 3/6;
    }

    .standing1_1{
        grid-column: 5/7;
    }

    .standing2_1{
        grid-column: 5/7;
    }

    .lag1_1{
        margin: 0;
        padding-top: 25px;
        text-align: left;
        padding-left: 100px;
    }

    .lag2_1{
        margin: 0;
        padding-top: 25px;
        text-align: left;
        padding-left: 100px;
    }

    .date1_1{
        grid-column: 3/5;
        text-align: left;
        padding-left: 50px;
    }

    .date2_1{
        grid-column: 3/5;
        text-align: left;
        padding-left: 50px;
    }

    .date3_1{
        grid-column: 3/5;
        text-align: left;
        padding-left: 50px;
    }

    .result1_1{
        grid-column: 5/7;
        text-align: left;
        padding-left: 50px;
    }

    .result2_1{
        grid-column: 5/7;
        text-align: left;
        padding-left: 50px;
    }

    .result3_1{
        grid-column: 5/7;
        text-align: left;
        padding-left: 50px;
    }

    .recent_results{
        grid-column: 3/5;
        padding-top: 75px;
    }
}